body{
  margin:0;
}
body.white{
  background-color: white;
  color:black;
}
body.black{
  background-color: black;
  color:white;
}
h1{
  border-bottom: 1px solid gray;
  padding:20px;
  margin-bottom:0;
}
h1 a{
  text-decoration: none;
}
nav ul{
  border-right:1px solid gray;
  width:100px;
  float:left;
  margin-top:0;
  padding-top:20px;
  height:1000px;
}
article{
  padding:30px;
  float:left;
  width:300px;
}
