body{
  margin:0;
}
h1{
  border-bottom: 1px solid gray;
  padding:20px;
  margin-bottom:0;
}
h1 a{
  text-decoration: none;
}
ul{
  border-right:1px solid gray;
  width:100px;
  float:left;
  margin-top:0;
  padding-top:20px;
  height:1000px;
}
article{
  padding:30px;
  float:left;
}
